@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("imgur.com") 
{
    /* move spacing between images */    
    .image
    {
        margin-bottom: 20px !important;
    }

    /* make the panel background black */
    .panel
    {
        background-color: #000 !important;
    }

    /* better aesthetics matching of captions to photos  */
    .description.textbox
    {
        margin-top: 0 !important;
        border-radius: 0 0 5px 5px !important;
        background-color: #333 !important;
    }
    
    /* better aesthetics matching of titles and photos */    
    h2.first, .image h2
    {
        margin-bottom: 0px !important;
        border-radius: 5px 5px 0 0 !important;
        background-color: #333 !important;
        padding: 5px !important;
    }
    
}
